<!DOCTYPE html>
<html>
<head>
  <title>Members Area</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Hello, <%= name %>!</h1>
  <p>Welcome to the memberonly area.</p>
  <img src="/images/<%= image %>" alt="Random image" width="400"><br><br>
  <a href="/logout">Log Out</a>
</body>
</html>